<ul>
	<li class="section"><a href="/" target="_self">Home</a>
		<ul>
			<li><a href="/#overview" target="_self">Overview</a></li>
			<li><a href="/#getting-started" target="_self">Getting Started</a></li>
			<li><a href="/#essential-tips" target="_self">Essential Tips</a></li>
			<li><a href="/#ms-word-tutorial" target="_self">MS Word Tutorial</a></li>
			<li><a href="/#templates" target="_self">Templates</a></li>
		</ul>
	</li>
	<li class="section"><a href="/text" target="_self">Text</a>
		<ul>
			<li><a href="/text#headings" target="_self">Headings</a></li>
			<li><a href="/text#paragraphs" target="_self">Paragraphs</a></li>
			<li><a href="/text#ordered-lists" target="_self">Ordered Lists</a></li>
			<li><a href="/text#unordered-lists" target="_self">Unordered Lists</a></li>
			<li><a href="/text#quotes" target="_self">Quotes</a></li>
			<li><a href="/text#hyperlinks" target="_self">Hyperlinks</a></li>
			<li><a href="/text#math" target="_self">Math</a></li>
		</ul>
	</li>
	<li class="section"><a href="/media" target="_self">Media</a>
		<ul>
			<li><a href="/media#images" target="_self">Images</a></li>
			<li><a href="/media#audio-files" target="_self">Audio Files</a></li>
			<li><a href="/media#videos" target="_self">Videos</a></li>
			<li><a href="/media#size-and-position" target="_self">Size and Position</a></li>
			<li><a href="/media#side-by-side" target="_self">Side-by-Side</a></li>
			<li><a href="/media#slider" target="_self">Slider</a></li>
		</ul>
	</li>
	<li class="section"><a href="/interactions" target="_self">Interactions</a>
		<ul>
			<li><a href="/interactions#reveals" target="_self">Reveals</a></li>
			<li><a href="/interactions#accordions" target="_self">Accordions</a></li>
			<li><a class="new" href="/interactions#tabs" target="_self">Tabs</a></li>
			<li><a href="/interactions#swappers" target="_self">Swappers</a></li>
			<li><a href="/interactions#line-matching" target="_self">Line-Matching</a></li>
			<li><a href="/interactions#checklists" target="_self">Checklists</a></li>
			<li><a href="/interactions#custom-interactions" target="_self">Custom Interactions</a></li>
			<li><a class="new" href="/interactions#flashcards" target="_self">Flashcards</a></li>
		</ul>
	</li>
	<li class="section"><a href="/knowledge-check" target="_self">Knowledge Checks</a>
		<ul>
			<li><a href="/knowledge-check#multiple-choice" target="_self">Multiple Choice</a></li>
			<li><a href="/knowledge-check#multiple-select" target="_self">Multiple Select</a></li>
			<li><a href="/knowledge-check#ordering" target="_self">Ordering</a></li>
			<li><a href="/knowledge-check#matching" target="_self">Matching</a></li>
			<li><a href="/knowledge-check#fill-in-blank" target="_self">Fill-in-the-Blank</a></li>
		</ul>
	</li>
	<li class="section"><a href="/learning-blocks" target="_self">Learning Blocks</a>
		<ul>
			<li><a href="/learning-blocks#activities" target="_self">Activities</a></li>
			<li><a href="/learning-blocks#assignments" target="_self">Assignments</a></li>
			<li><a class="new" href="/learning-blocks#callouts" target="_self">Callouts</a></li>
			<li><a href="/learning-blocks#case-studies" target="_self">Case Studies</a></li>
			<li><a href="/learning-blocks#definitions" target="_self">Definitions</a></li>
			<li><a href="/learning-blocks#discussions" target="_self">Discussions</a></li>
			<li><a href="/learning-blocks#doing" target="_self">Doing</a></li>
			<li><a href="/learning-blocks#examples" target="_self">Examples</a></li>
			<li><a href="/learning-blocks#group-activities" target="_self">Group Activities</a></li>
			<li><a href="/learning-blocks#key-points" target="_self">Key Points</a></li>
			<li><a href="/learning-blocks#knowing" target="_self">Knowing</a></li>
			<li><a href="/learning-blocks#learning-outcomes" target="_self">Learning Outcomes</a></li>
			<li><a href="/learning-blocks#links" target="_self">Links</a></li>
			<li><a href="/learning-blocks#notes" target="_self">Notes</a></li>
			<li><a href="/learning-blocks#quizzes" target="_self">Quizzes</a></li>
			<li><a href="/learning-blocks#readings" target="_self">Readings</a></li>
			<li><a href="/learning-blocks#reflections" target="_self">Reflections</a></li>
			<li><a href="/learning-blocks#reviews" target="_self">Reviews</a></li>
			<li><a href="/learning-blocks#warnings" target="_self">Warnings</a></li>
		</ul>
	</li>
	<li class="section"><a href="/tables" target="_self">Tables</a>
		<ul>
			<li><a href="/tables#default-tables" target="_self">Default Tables</a></li>
		</ul>
	</li>
</ul>
<hr>
<div class="alt-menu-links">
	<ul>
		<li><a href="/marker-reference" target="_self">Marker Reference</a></li>
		<li><a href="mailto:courseproduction@bcit.ca" target="_self">Contact Us</a></li>
	</ul>
</div>
